@use '../utils/mixins' as *;
@use '../utils/vars' as *;

* {
  box-sizing: border-box;

  &:focus-visible {
    outline: 2px solid rgb(65 255 122);
  }
}

picture {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  min-width: 320px;

  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text);

  background: var(--background);
}

.oh {
  overflow: hidden;
}

.hidden-desktop {
  @include media(lg, min-width) {
    display: none !important;
  }
}

.hidden-mobile {
  @include media(lg) {
    display: none !important;
  }
}

.is-hidden {
  display: none;
}

.animate {
  animation: animate 1s ease-in-out;
}

@keyframes animate {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: var(--container);
  margin: auto;
  padding-right: var(--gap);
  padding-left: var(--gap);
}

.section {
  padding-top: var(--gap-y);
  padding-bottom: var(--gap-y);

  &:last-child {
    margin-bottom: var(--gap-y);
  }

  &--breadcrumbs {
    @include media(md) {
      padding-top: 40px;
      padding-bottom: 60px;
    }

    padding-top: 60px;
    padding-bottom: 100px;
  }

  &--no-top {
    padding-top: 0;
  }

  &--no-bottom {
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.main {
  overflow-x: hidden;

  &--offset-top {
    margin-top: var(--header-height);
    padding-top: 40px;
  }
}
