@use '../utils/mixins' as *;

.footer {
  padding: 58px 0 0;
  color: var(--headline);
  background: var(--main-white);

  &__logo {
    @include media(md) {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-size: 14px;
    opacity: 0.3;
  }

  &__copyright {
    font-size: 14px;
  }

  &__data-link {
    display: block;
    margin-right: 32px;
    letter-spacing: -0.005em;

    &:last-child {
      margin: 0;
    }
  }
}

.footer-top {
  @include media(md) {
    flex-direction: column;
  }

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-middle {
  @include media(md) {
    grid-template-columns: 1fr;
    gap: 40px;
    margin-top: 46px;
  }

  display: grid;
  grid-template-columns: max-content max-content max-content min-content;
  gap: 30px;
  justify-content: space-between;

  margin-top: 60px;
}

.footer-nav {
  &__item {
    margin-bottom: 8px;

    &:last-child {
      margin: 0;
    }
  }
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
}

.footer-contacts {
  display: flex;
  flex-direction: column;

  &__item {
    margin-bottom: 8px;
  }

  &__link {
    &--underline {
      text-decoration: underline;
    }
  }
}

.footer-bottom {
  @include media(md) {
    margin-top: 48px;
  }
  @include media(sm) {
    flex-direction: column-reverse;
  }

  display: flex;
  justify-content: space-between;

  margin-top: 168px;
  padding-bottom: 40px;

  font-size: 14px;

  &__link-group {
    @include media(sm) {
      margin-bottom: 24px;
    }

    display: flex;
    flex-wrap: wrap;
  }
}
