@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.header {
  $this: &;

  position: absolute;
  z-index: 1010;
  z-index: 1010;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;

  color: var(--main-color);

  transition: background 0.5s;

  &.fixed {
    position: fixed;
    background: rgb(29 29 27 / 84%);
    backdrop-filter: blur(8px);

    #{$this}__inner {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &__inner {
    @include media(md) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 30px;
    padding-bottom: 30px;
  }

  &--menu-is-open {
    background: var(--main-white);
  }

  &__nav {
    margin-right: auto;
    margin-left: 40px;
  }

  &__btn {
    &:hover {
      color: var(--white);
      background: var(--accent-blue);
      border-color: var(--accent-blue);
    }
  }
}

.m-button-group {
  display: flex;

  &__btn {
    margin-right: 12px;

    .btn__inner {
      padding: 8px 13px;
    }

    &:last-child {
      margin: 0;
    }
  }
}
