.page-title {
  max-width: 930px;
  font-size: 80px;
  line-height: 110%;
  letter-spacing: -0.03em;
}

.page-desc {
  max-width: 520px;
  margin-top: 30px;

  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
}
