section.section.about-section
  .about 
    picture.about__image 
      img(src=aboutImage, alt="")
    .about__inner.container 
      h2.about__title= aboutTitle
      .about__desc
        each val in aboutDesc
          p= val
      if aboutButton
        a.about__btn.btn(href="#")
          span.btn__inner  Learn more 
