section.section.about-section
  .about 
    picture.about__image 
      img(src=require('@/images/about.jpg'), alt="")
    .about__inner.container 
      h2.about__title Joint venture
      .about__desc
        p Two of the largest shipping and logistics groups in the world, Hyundai Glovis and Stena, have joined forces with the ambition to become Europe’s leading finished vehicle logistics provider across Deep Sea and Ferry Services.
        p With a combined PCTC/RoRo fleet of over 120 vessels trading in European and International waters Stena Glovis will deliver a best in class finished vehicle logistics operation and a unique value proposition to our customers.
      a.about__btn.btn(href="#")
        span.btn__inner  Learn more 
