section.section.container 
  .block-address 
    .block-address__content 
      .block-address__text 
        h3.block-address__title Joint venture
        .block-address__desc 
          p Two of the largest shipping and logistics groups in the world, Hyundai Glovis and Stena, have joined forces with the ambition to become Europe’s leading finished vehicle logistics provider across Deep Sea and Ferry Services.
          p With a combined PCTC/RoRo fleet of over 120 vessels trading in European and International waters Stena Glovis will deliver a best in class finished vehicle logistics operation and a unique value proposition to our customers.
      .block-address__image 
        picture.block-address__image-src 
          img(src=require('@/images/address.jpg'), alt="")
    .address-group
      .address-group__item 
        h4.address-group__title Hamburg
        address.address-group__address Dammtorwall 7a 20354 Hamburg, Germany
        a.address-group__phone(href="tel:+49 40 359 833 720") +49 40 359 833 720
        a.address-group__email(href="mailto:hamburg@stenaglovis.com") hamburg@stenaglovis.com  
      .address-group__item 
        h4.address-group__title Bremen
        address.address-group__address Am Wall 137/139 28195 Bremen, Germany
        a.address-group__phone(href="tel:+49 40 359 833 720") +49 421 3228 5600
        a.address-group__email(href="mailto:hamburg@stenaglovis.com") bremen@stenaglovis.com