section.section.container 
  include ../partials/section-heading
  .block-links 
    .block-links__item 
      h3.block-links__title Trade Areas
      .block-links__btn.block-links__btn--no-link.btn.btn--primary 
        span.btn__inner.btn__inner--mark YOU ARE HERE
    .block-links__item 
      h3.block-links__title Trade Areas
      a.block-links__btn.btn.btn--primary(href="#") 
        span.btn__inner EXPLORE
    .block-links__item 
      h3.block-links__title Trade Areas
      a.block-links__btn.btn.btn--primary(href="#") 
        span.btn__inner EXPLORE
    .block-links__item 
      h3.block-links__title Trade Areas
      a.block-links__btn.btn.btn--primary(href="#") 
        span.btn__inner EXPLORE
