section.section.container
  .cta-work-wrapper
    .cta-work 
      h2.cta-work__title If you are interested in working with us, please email us at
      a.cta-work__link(href="mailto:jobs@stenaglovis.com") jobs@stenaglovis.com 