section.section.container
  .cta-work-wrapper
    .cta-work 
      h2.cta-work__title If you are interested in working with us, please email us at
      .cta-work__text
        p for general questions to: <a href="mailto:">info@stenaglovis.com</a>
        p for general questions to: <a href="mailto:">info@stenaglovis.com</a>
