section.section.container
  .cta-wrapper
    .cta
      h4.cta__title Freight Inquiries
      .cta__desc
        p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      .cta__button-group 
        button.cta__btn.btn.btn--primary(type="button")
          span.btn__inner Pricing Requests
        a.cta__btn.btn.btn--borderless(type="button")
          span.btn__inner CONTACTS