section.section.container
  .cta-wrapper
    .cta
      h4.cta__title Get in touch with us
      .cta__contacts
        a.cta__link(href="tel:+49 (0)40 359 833 720") +49 (0)40 359 833 720
        a.cta__link.cta__link--underline(href="mailto:info@stenaglovis.com") info@stenaglovis.com
