section.section.container
  include ../partials/section-heading
  .faq
    .faq__item
      .faq__heading
        h4.faq__title Do you offer a port meeting service?
        .faq__icon
          svg(width="21" height="21")
            use(xlink:href="sprite.svg#faq_sprite")
      .faq__content-wrapper
        .faq__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, officiis! Corrupti aliquid ad quod, maiores facilis exercitationem. Repellendus veniam minus laborum beatae, magnam debitis tempora excepturi perspiciatis, nihil architecto eaque.
    .faq__item
      .faq__heading
        h4.faq__title Do you offer a port meeting service?
        .faq__icon
          svg(width="21" height="21")
            use(xlink:href="sprite.svg#faq_sprite")
      .faq__content-wrapper
        .faq__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, officiis! Corrupti aliquid ad quod, maiores facilis exercitationem. Repellendus veniam minus laborum beatae, magnam debitis tempora excepturi perspiciatis, nihil architecto eaque.
    .faq__item
      .faq__heading
        h4.faq__title Do you offer a port meeting service?
        .faq__icon
          svg(width="21" height="21")
            use(xlink:href="sprite.svg#faq_sprite")
      .faq__content-wrapper
        .faq__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, officiis! Corrupti aliquid ad quod, maiores facilis exercitationem. Repellendus veniam minus laborum beatae, magnam debitis tempora excepturi perspiciatis, nihil architecto eaque.
    .faq__item
      .faq__heading
        h4.faq__title Do you offer a port meeting service?
        .faq__icon
          svg(width="21" height="21")
            use(xlink:href="sprite.svg#faq_sprite")
      .faq__content-wrapper
        .faq__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, officiis! Corrupti aliquid ad quod, maiores facilis exercitationem. Repellendus veniam minus laborum beatae, magnam debitis tempora excepturi perspiciatis, nihil architecto eaque.
    .faq__item
      .faq__heading
        h4.faq__title Do you offer a port meeting service?
        .faq__icon
          svg(width="21" height="21")
            use(xlink:href="sprite.svg#faq_sprite")
      .faq__content-wrapper
        .faq__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, officiis! Corrupti aliquid ad quod, maiores facilis exercitationem. Repellendus veniam minus laborum beatae, magnam debitis tempora excepturi perspiciatis, nihil architecto eaque.