section.section.container 
  include ../partials/section-heading
  .features.swiper 
    .swiper-wrapper
      .features__item.swiper-slide 
        span.features__value 5M
        p.features__desc Cars Shipped annually
      .features__item.swiper-slide 
        span.features__value 84
        p.features__desc Pure Car & Truck Carriers
      .features__item.swiper-slide 
        span.features__value 38
        p.features__desc Ferry/Roro vessels
      .features__item.swiper-slide 
        span.features__value 38
        p.features__desc Ferry/Roro vessels