section.section.container 
  include ../partials/section-heading
  .features.swiper(class=features2 ? 'features--second-variant' : '')
    .swiper-wrapper
      .features__item.swiper-slide 
        span.features__value <span>5</span>M
        p.features__desc Cars Shipped annually
      .features__item.swiper-slide 
        span.features__value <span>7.6</span>
        p.features__desc Pure Car & Truck Carriers
      .features__item.swiper-slide 
        span.features__value <span>38</span>
        p.features__desc Ferry/Roro vessels
      .features__item.swiper-slide 
        span.features__value <span>38</span>
        p.features__desc Ferry/Roro vessels