section.section-hero
  .hero
    if imageSrc
      picture.hero__media
        img(src=imageSrc , alt="")
    else 
      video.hero__media(src=require('@/video/home-hero.mp4') autoplay muted playsinline loop)
    .hero__info.container
      h1.hero__title= heroTitle
      p.hero__desc= heroDesc
      .hero__buttons
        button.hero__btn.btn.btn--primary.js-scroll-to-section(type="button")
          span.btn__inner.btn__inner--mark EXPLORE BELOW
        if download 
          a.hero__btn.btn.btn--blue(href="#" download)
            span.btn__inner DOWNLOAD PRESENTATION
        if !imageSrc
          button.hero__btn.btn.btn--primary.js-play-hero-video(type="button" data-switch-text="BACK TO SITE")
            span.btn__inner WATCH FULL VIDEO
