section.section.section--no-bottom
  .marquee-wrapper 
    h3.marquee-title We have a large fleet
    .marquee
      .marquee__line
        each val in [1,1,1,1,1,1,1,1,1,1,1,1,1,1,2]
          .marquee__item GLOVIS Challenge
      .marquee__line
        each val in [1,1,1,1,1,1,1,1,1,1,1,1,1,1,2]
          .marquee__item GLOVIS Challenge
      .marquee__line
        each val in [1,1,1,1,1,1,1,1,1,1,1,1,1,1,2]
          .marquee__item GLOVIS Challenge