section.section.container 
  .no-jobs 
    .no-jobs__text 
      h4.no-jobs__title There is no #[br] open jobs yet
      p.no-jobs__desc Sorry, we are not hiring currently on any new position
    .no-jobs__icon 
      svg(width="100" height="91")
        use(xlink:href="sprite.svg#jobs_sprite") 