section.section.container
  include ../partials/section-heading
  .our-people 
    .our-people__item 
      picture.our-people__image
        img(src=require('@/images/people-1.jpg'), alt="")
      h4.our-people__title Hamburg
    .our-people__item 
      picture.our-people__image
        img(src=require('@/images/people-2.jpg'), alt="")
      h4.our-people__title Bremen