section.section.container 
  .our-mission 
    picture.our-mission__image
      img(src=require('@/images/mission.jpg'), alt="")
    .our-mission__text
      h2.our-mission__title Our mission
      .our-mission__desc 
        p One of the ways costs are kept low with RoRo is you don’t need to prepare the cargo in the same way you need to if you are shipping in a container. When using container shipping, the cargo needs to be packed in the container, transported, and/or stored, all of which adds to your overall costs.
        p Different shipping methods are available for ocean freight transportation of out-of-gauge cargo: these include shipping the cargo pieces on Flat Racks or break bulk in a container vessel, using Ro/Ro.
      .our-mission__logo.logo 
        img.logo__src(src=require('@/images/logo.svg'), alt="")