section.section.container 
  .page-info 
    h2.page-info__title What is Deep Sea Services?
    .page-info__desc-group 
      .page-info__desc
        p For Stena Glovis this naturally centres on its trades originating in Europe with market leading frequencies. This includes Europe-Far East, Europe-Middle East, Europe-Americas, Europe-Africa and Turkey/Med-North Europe. In addition to this we offer our European customers shipping solutions on any of the Hyundai Glovis Deep Sea trades in the global network.
      .page-info__desc 
        p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.