section.section.container.p
  include ../partials/section-heading
  .services
    .services__item
      .services__inner
        picture.services__image 
          img(src=require('@/images/services/1.jpg'), alt="")
        .services__content
          .services__left 
            h3.services__title Deep Sea Services
            a.services__btn.btn.btn--empty(href="#")
              span.btn__inner Learn more
          .services__right
            p.services__desc Representing the Hyundai Glovis Deep Sea network in Europe and working with all European based shippers, Stena Glovis offers its customers one of the most comprehensive RoRo shipping services in the market.
    .services__item
      .services__inner
        //- picture.services__image 
        //-   img(src=require('@/images/services/1.jpg'), alt="")
        .services__content
          .services__left 
            h3.services__title Deep Sea Services
            a.services__btn.btn.btn--empty(href="#")
              span.btn__inner Learn more
          .services__right
            p.services__desc Representing the Hyundai Glovis Deep Sea network in Europe and working with all European based shippers, Stena Glovis offers its customers one of the most comprehensive RoRo shipping services in the market.
    .services__item
      .services__inner
        //- picture.services__image 
        //-   img(src=require('@/images/services/1.jpg'), alt="")
        .services__content
          .services__left 
            h3.services__title Deep Sea Services
            a.services__btn.btn.btn--empty(href="#")
              span.btn__inner Learn more
          .services__right
            p.services__desc Representing the Hyundai Glovis Deep Sea network in Europe and working with all European based shippers, Stena Glovis offers its customers one of the most comprehensive RoRo shipping services in the market.