section.section.container
  include ../partials/section-heading
  .types.swiper
    .types-grid.swiper-wrapper
      each val,index in [1,2,3,4,5,6]
        .types__item.swiper-slide
          picture.types__image 
            img(src=require(`@/images/types/${index + 1}.jpg`), alt="")
          h3.types__title Lengthy Cargo
      .types__more.types-more 
        h4.types-more__title Learn more about all our cargo capabilities
        a.types-more__btn.btn.btn--primary
          span.btn__inner Learn More
