section.section.container 
  .video-wrapper 
    .video
      .video__button.btn.btn--primary.js-play-video 
        span.btn__inner watch full video
      video.video__src(src=require('@/video/home-hero.mp4') paused muted playsinline)
