footer.footer
  .container
    .footer-top
      .footer__logo.logo.logo--big
        a.logo__link(href="") 
          img.logo__src(src=require('@/images/logo-black.svg'), alt="")
      a.footer__download.btn.btn--black(href="" download)
        span.btn__inner  Download Presentation
    .footer-middle
      .footer__col 
        h6.footer__title Services
        nav.footer-nav
          ul.footer-nav-list
            li.footer-nav__item 
              a.footer-nav__link(href="") Deep Sea Services
            li.footer-nav__item 
              a.footer-nav__link(href="") Ferry Services
            li.footer-nav__item 
              a.footer-nav__link(href="") Cargo Types
      .footer__col 
        h6.footer__title For Customers
        nav.footer-nav
          ul.footer-nav-list
            li.footer-nav__item 
              a.footer-nav__link(href="") Freight Inquiries
            li.footer-nav__item 
              a.footer-nav__link(href="") Schedules
            li.footer-nav__item 
              a.footer-nav__link(href="") Group Fleet
            li.footer-nav__item 
              a.footer-nav__link(href="") Contact
      .footer__col 
        h6.footer__title Company
        nav.footer-nav
          ul.footer-nav-list
            li.footer-nav__item 
              a.footer-nav__link(href="") About
            li.footer-nav__item 
              a.footer-nav__link(href="") Career
            li.footer-nav__item 
              a.footer-nav__link(href="") Contacts
      .footer__col 
        h6.footer__title Contacts
        .footer-contacts 
          address.footer-contacts__item Dammtorwall 7a20354 Hamburg, Germany
        .footer-contacts__item 
          a.footer-contacts__link(href="tel:+49 40 359 833 720") +49 40 359 833 720
        .footer-contacts__item 
          a.footer-contacts__link.footer-contacts__link--underline(href="mailto:hamburg@stenaglovis.com") hamburg@stenaglovis.com
        .footer-contacts__item 
          a.footer-contacts__link.footer-contacts__link--underline(href="mailto:bremen@stenaglovis.com") bremen@stenaglovis.com
    .footer-bottom
      .footer__copyright © Stena Glovis. 2022
      .footer-bottom__link-group 
        a.footer__data-link(href="") Datenschutz 
        a.footer__data-link(href="") Terms & Conditions
