header.header.container
  .header__logo.logo 
    a.logo__link(href="") 
      img.logo__src(src=require('@/images/logo.svg'), alt="")
  nav.header__nav.nav
    ul.nav-list 
      each val in menu 
        li.nav__item(class=val.hasSub ? 'nav__item--has-children' : '')
          a.nav__link(href=val.link)=val.name
          if val.hasSub 
            ul.nav__sub.sub-menu
              each val2 in val.hasSub
                li.sub-menu__item 
                  a.sub-menu__link(href=val2.link)= val2.name
  button.header__btn.btn.btn--filled(data-modal="main-modal" type="button")
    span.btn__inner FREIGHT INQUIRE