if sectionTitle
  .section-heading
    h2.section-heading__title= sectionTitle
    .section-heading__buttons-group.hidden-mobile
      if sectionButtons
        if pdfButton 
          a.btn.btn--primary.btn--blue(href="#" download) 
            span.btn__inner DOWNLOAD SCHEDULES
        else 
          button.btn.btn--primary(data-modal="main-modal")
            span.btn__inner Get a Quote
          a.btn.btn--primary.btn--blue(href="#") 
            span.btn__inner SCHEDULES