@use '../utils/mixins' as *;

.btn {
  cursor: pointer;

  display: block;

  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;

  border: 1px solid;
  border-color: currentcolor;
  border-radius: 100px;

  transition: 0.5s;

  &--primary {
    &:hover {
      color: var(--headline);
      background: var(--main-white);
    }
  }

  &--blue {
    color: var(--accent-blue);

    &:hover {
      color: var(--main-white);
      background: var(--accent-blue);
      border-color: var(--accent-blue);
    }
  }

  &--black {
    color: var(--headline);

    &:hover {
      color: var(--main-white);
      background: var(--background);
    }
  }

  &--borderless {
    border: none;
  }

  &__inner {
    @include media(md) {
      padding: 10px 16px;
    }

    display: block;
    padding: 12px 20px;

    &--mark {
      display: flex;
      align-items: center;
      color: currentcolor;

      &::before {
        content: '';

        display: block;

        width: 8px;
        height: 8px;
        margin-right: 8px;

        background: currentcolor;
        border-radius: 50%;

        animation: blink-color 2s infinite;
      }
    }
  }

  &--filled {
    color: var(--headline);
    background: var(--main-white);
    border-color: var(--main-white);

    &:hover {
      background: #f2f4f8;
    }
  }
}
