@use '../utils/mixins' as *;

@keyframes blink-color {
  0% {
    background: currentcolor;
  }

  50% {
    background: var(--accent-blue);
  }

  100% {
    background: currentcolor;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
