@keyframes blink-color {
  0% {
    background: var(--main-white);
  }

  50% {
    background: var(--accent-blue);
  }

  100% {
    background: var(--main-white);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
