@use '../utils/mixins' as *;

.cta {
  @include media(md) {
    min-height: 400px;
    padding: 20px;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  min-height: 500px;
  padding: 30px;

  background: var(--accent-blue);
  border-radius: 24px;

  &__desc {
    max-width: 500px;
    margin-top: auto;
    margin-bottom: 30px;

    line-height: 150%;
    letter-spacing: -0.005em;

    a {
      position: relative;
      display: inline-block;
      font-weight: 500;

      &::before {
        pointer-events: none;
        content: '';

        position: absolute;
        top: 100%;
        left: 0;
        transform: scale3d(0, 1, 1);
        transform-origin: 100% 50%;

        width: 100%;
        height: 1px;

        background: currentcolor;

        transition: transform 0.3s;
      }

      &:hover {
        &::before {
          transform: scale3d(1, 1, 1);
          transform-origin: 0% 50%;
        }
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__button-group {
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-right: 8px;

    &.btn {
      &--borderless {
        &:hover {
          background: rgb(255 255 255 / 12%);
        }
      }
    }

    &:last-child {
      margin: 0;
    }
  }

  &__title {
    @include media(sm) {
      font-size: 40px;
    }

    display: block;

    max-width: 478px;

    font-size: 64px;
    line-height: 112%;
    letter-spacing: -0.03em;
  }

  &__link {
    position: relative;

    display: block;

    margin-bottom: 4px;

    font-size: 24px;
    letter-spacing: -0.01em;

    &::before {
      pointer-events: none;
      content: '';

      position: absolute;
      top: 100%;
      left: 0;
      transform: scale3d(0, 1, 1);
      transform-origin: 100% 50%;

      width: 100%;
      height: 1px;

      background: currentcolor;

      transition: transform 0.3s;
    }

    &:hover {
      &::before {
        transform: scale3d(1, 1, 1);
        transform-origin: 0% 50%;
      }
    }

    &:last-child {
      margin: 0;
    }
  }
}
