@use '../utils/mixins' as *;

.fleet-list {
  @include media(md) {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  &__item {
    @include media(md) {
      padding: 16px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;

    background: var(--ebony-clay);
    border-radius: 24px;
  }

  &__title {
    @include media(md) {
      font-size: 16px;
    }

    font-size: 20px;
    letter-spacing: -0.01em;
  }

  &__value {
    @include media(md) {
      font-size: 16px;
    }

    font-size: 20px;

    span {
      margin-left: 8px;
      opacity: 0.5;
    }
  }
}
