.job-conditional {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 12px;
    padding: 6px 16px;
    border: 1px solid var(--main-white);
    border-radius: 100px;

    &--filled {
      color: var(--background);
      background: var(--main-white);
    }

    &:last-child {
      margin: 0;
    }
  }
}
