@use '../utils/mixins' as *;

.job-cta {
  @include media(md) {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  display: grid;
  grid-template-columns: minmax(min-content, 50%) 1fr;
  gap: var(--gap);

  padding: var(--gap);

  color: var(--main-white);

  background: var(--accent-red);
  border-radius: 24px;

  &__col {
    flex: 1;

    &--text {
      @include media(xxl) {
        max-width: 480px;
      }
    }

    &--form {
      padding: 10px 0 14px;
    }
  }

  &__title {
    @include media(md) {
      margin-bottom: 20px;
      font-size: 40px;
    }

    margin-bottom: 30px;
    font-size: 64px;
    line-height: 112%;
    letter-spacing: -0.03em;
  }

  &__desc {
    line-height: 150%;
    letter-spacing: -0.005em;
  }
}
