@use '../utils/mixins' as *;

.job-conditional {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -12px;

  &__item {
    margin: 6px;
    padding: 6px 16px;
    border: 1px solid var(--main-white);
    border-radius: 100px;

    &--filled {
      color: var(--background);
      background: var(--main-white);
    }
  }
}
