@use '../utils/mixins' as *;

.logo {
  width: 160px;
  height: 32px;

  &--big {
    @include media(md) {
      max-width: 300px;
    }

    width: auto;
    max-width: 480px;
    height: auto;
  }

  &__src {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__link {
    display: block;
    height: 100%;
  }
}
