@use '../utils/mixins' as *;

.services-wrapper {
  --spacing: 150px;
}

.services {
  position: relative;

  &__item {
    @include media(md) {
      position: relative;
      z-index: auto;
      top: auto;

      height: auto;
      margin-bottom: 16px;
      padding-bottom: calc(300px / 328px * 100%);

      &:last-child {
        margin: 0;
      }
    }

    overflow: hidden;

    width: 100%;
    padding-bottom: calc(500px / 1290px * 100%);

    background: white;
    border-radius: 32px;

    &:nth-child(1) {
      @include media(md) {
        position: relative;
        top: auto;
        margin: 0;
      }

      position: absolute;
      z-index: 2;
      top: calc(var(--spacing) * -1);
      margin-top: var(--spacing);
    }

    &:nth-child(2) {
      color: var(--headline);
    }
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    @include media(md) {
      padding: 20px 16px;
    }

    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 30px 110px 30px 30px;
  }

  &__title {
    @include media(md) {
      font-size: 24px;
    }

    margin-bottom: 20px;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }

  &__desc {
    @include media(md) {
      display: none;
    }

    max-width: 410px;
    line-height: 150%;
  }

  &__btn {
    align-self: flex-start;
  }

  &__left {
    display: flex;
    flex-direction: column;
  }
}
