-
  locals.menu = [
    {
      name:'Business Areas',
      link: '',
      hasSub: [
        {
          name:'Deep Sea Servces',
          link:`${htmlWebpackPlugin.options.path}/deep-sea.html`
        },
        {
          name:'Ferry Services',
          link:`${htmlWebpackPlugin.options.path}/ferry-services.html`
        },
      ],
    },
    {
      name:'Trade Areas',
      link:`${htmlWebpackPlugin.options.path}/trade-areas.html`,
      hasSub:false,
    },
    {
      name:'Cus tomer service',
      link: '',
      hasSub:true,
    },
    {
      name:'About us',
      link: '',
      hasSub:true,
    },
    {
      name:'Contact',
      link: '',
      hasSub:false,
    },

  ]

