-
  locals.menu = [
    {
      name:'Business Areas',
      link: '',
      hasSub:true,
    },
    {
      name:'Trade Areas',
      link: '',
      hasSub:false,
    },
    {
      name:'Cus tomer service',
      link: '',
      hasSub:true,
    },
    {
      name:'About us',
      link: '',
      hasSub:true,
    },
    {
      name:'Contact',
      link: '',
      hasSub:false,
    },

  ]

