extends ../layouts/main--no-hero

block content
  - locals.breadcrumbs = ['Home' , 'Contact' ]
  include ../blocks/breadcrumbs
  section.section.section--breadcrumbs.container 
    h1.page-title Editor content
  section.section.section--no-top.container
    .editor-content 
      h1 h1 TEXT 
      h2 h2 TEXT 
      h3 h3 TEXT 
      h4 h4 TEXT 
      h5 H5 TEXT 
      h6 h6 TEXT
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, dicta voluptatum vitae aliquam, ducimus neque repellat quia eos odio illo eius accusamus at placeat id officiis tempore fuga libero rerum?
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore veniam expedita cum minima minus cumque maxime in vero deserunt repellendus, nobis voluptates nostrum ad repudiandae, natus illum nisi exercitationem voluptatum!
      ul 
        li list 1
        li list 2
        li list 3
      img(src=require('@/images/about.jpg'), alt="")
      a(href="#") Link 
      a(href="#") link
      h3 Place of company
      p
        | Stena Glovis SE
        br
        | Dammtorwall 7A
        br
        | 20354 Hamburg
      h3 Management
      p
        | Executive Director Peter Menzel
        br
        | Executive Director Wan Hee Han
      h3 Advisory Board
      p
        | Tae Woo Kim
        br
        | Carl-Johan Hagman
      h3 Contact
      p
        a(href='mailto:info@stenaglovis.com') &nbsp;info@stenaglovis.com
      h3 Registry
      p
        | Amtsgericht Hamburg
        br
        | HRB 157670
      h3 VAT ID
      p DE 323288725
