
extends ../layouts/main

block content
  - locals.heroTitle = 'Deep Sea Services'
  - locals.heroDesc = 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.'
  include ../blocks/hero
  - locals.sectionTitle = ' Our Possibilities'
  include ../blocks/features
  - locals.sectionTitle = 'Stena Glovis can supply tailored solutions for our customers business.'
  include ../blocks/services
  - locals.sectionTitle = 'Our company delivers different types of cargo'
  include ../blocks/types
  - locals.aboutImage = require('@/images/about.jpg')
  - locals.aboutTitle = 'Joint venture'
  - locals.aboutDesc = ['Two of the largest shipping and logistics groups in the world, Hyundai Glovis and Stena, have joined forces with the ambition to become Europe’s leading finished vehicle logistics provider across Deep Sea and Ferry Services.' , 'With a combined PCTC/RoRo fleet trading in European and International waters Stena Glovis will deliver a best in class finished vehicle logistics operation and a unique value proposition to our customers.']
  - locals.aboutButton = true;
  include ../blocks/about
  - locals.sectionTitle = 'Where we ship'
  - locals.sectionButtons = true;
  include ../blocks/map-section
    - locals.sectionTitle = 'Our partners'
    - locals.sectionButtons = false;
  include ../blocks/partners
  include ../blocks/cta
