
extends ../layouts/main

block content
  include ../blocks/hero
  - locals.sectionTitle = ' Our Possibilities'
  include ../blocks/features
  - locals.sectionTitle = 'Stena Glovis can supply tailored solutions for our customers business.'
  include ../blocks/services
  include ../blocks/about
