extends ../layouts/main--no-hero

block content
  - locals.breadcrumbs = ['Home' , 'About us' , 'Career' , 'International transportation manager']
  include ../blocks/breadcrumbs
  section.section.section--breadcrumbs.container
    .job-page
      h1.job-page__title.page-title International transportation manager
      .job-conditional
        .job-conditional__item.job-conditional__item--filled Hamburg
        .job-conditional__item Up to €50,000 per year
        .job-conditional__item Full time
  section.job-description
    .container.job-tabs(role='tablist')
      button.job-tabs__btn(type='button' role='tab' aria-selected='true' aria-controls='job-tabs-1')
        img(src=require('@/images/flagEn.svg'), alt="")
        |  English
      button.job-tabs__btn(type='button' role='tab' aria-selected='false' aria-controls='job-tabs-2')
        img(src=require('@/images/flagDe.svg'), alt="")
        | Deutsch
    #job-tabs-1.job-description__inner.container(role='tablist') 
      .job-description__col 
        .job-description__item
          h2.job-description__title Your Profile
          ul
            li Abgeschlossenes Studium der Architektur
            li mind. 2 Jahre Berufserfahrung sind wünschenswert
            li selbständige Arbeitsweise
            li Teamfähigkeit und proaktive Kommunikation
            li Führerschein für PKW 
        .job-description__item
          h2.job-description__title Your Tasks
          ul
            li Entwurfsplanung
            li Bauantragsplanung
            li Ausführungsplanung
            li Abstimmung und Koordination mit externen Fachplanern
            li Enge Zusammenarbeit mit Projektleitern und unserer Planungsabteilung
            li eigenständige zeichnerische Umsetzung von Planungskonzepten und Detaillösungen
            li eine ganzheitliche Bearbeitung von Projekten, inkl. Bauleitung ist möglich
      .job-description__col.job-description__col--desc
        .job-description__item
          h2.job-description__title Bremerhaven
          p Do you enjoy working with and learning from people from different cultures and with different experiences? Stena Glovis may be the place for you. We offer a wide range of career opportunities.
          p Remember the first time you solved a problem by programming? The delight and excitement you felt when it finally...worked? We want to deliver that experience to everyone by giving them the building blocks to create useful tools of all kinds—without needing to code. That's been the vision of computing pioneers since the 70s. Today, all the infrastructure is present, but we need your engineering to pull it off.
          ul
            li You'll work with others to build new product features from start to finish: through conception, research, implementation, and maintenance. For example, you might build an editor for inline mathematical equations.
            li You'll leverage your frontend knowledge to help improve performance and reliability, and polish existing features. For example, you might make it easier to select text across multiple paragraphs.
            li You'll work across the stack to implement features end-to-end. For example, you might build a new sidebar for displaying page comments, and over the course of implementing it you may modify an existing Node.js endpoint to fetch comment data upon page load.
    #job-tabs-2.job-description__inner.container(role='tablist') 
      .job-description__col 
        .job-description__item
          h2.job-description__title Your Profile (Deutsch)
          ul
            li Abgeschlossenes Studium der Architektur
            li mind. 2 Jahre Berufserfahrung sind wünschenswert
            li selbständige Arbeitsweise
            li Teamfähigkeit und proaktive Kommunikation
            li Führerschein für PKW 
        .job-description__item
          h2.job-description__title Your Tasks
          ul
            li Entwurfsplanung
            li Bauantragsplanung
            li Ausführungsplanung
            li Abstimmung und Koordination mit externen Fachplanern
            li Enge Zusammenarbeit mit Projektleitern und unserer Planungsabteilung
            li eigenständige zeichnerische Umsetzung von Planungskonzepten und Detaillösungen
            li eine ganzheitliche Bearbeitung von Projekten, inkl. Bauleitung ist möglich
      .job-description__col.job-description__col--desc
        .job-description__item
          h2.job-description__title Bremerhaven
          p Do you enjoy working with and learning from people from different cultures and with different experiences? Stena Glovis may be the place for you. We offer a wide range of career opportunities.
          p Remember the first time you solved a problem by programming? The delight and excitement you felt when it finally...worked? We want to deliver that experience to everyone by giving them the building blocks to create useful tools of all kinds—without needing to code. That's been the vision of computing pioneers since the 70s. Today, all the infrastructure is present, but we need your engineering to pull it off.
          ul
            li You'll work with others to build new product features from start to finish: through conception, research, implementation, and maintenance. For example, you might build an editor for inline mathematical equations.
            li You'll leverage your frontend knowledge to help improve performance and reliability, and polish existing features. For example, you might make it easier to select text across multiple paragraphs.
            li You'll work across the stack to implement features end-to-end. For example, you might build a new sidebar for displaying page comments, and over the course of implementing it you may modify an existing Node.js endpoint to fetch comment data upon page load.
    .container
      .job-cta.job-page__cta
        .job-cta__col.job-cta__col--text 
          h3.job-cta__title Interested? Apply now
          p.job-cta__desc Do you enjoy working with and learning from people from different cultures and with different experiences? Stena Glovis may be the place for you. We offer a wide range of career opportunities.
        .job-cta__col.job-cta__col--form
          form.main-form(action="")
            .main-form__item
              label.main-form__label(for="name")
                input.main-form__input#name(type="text" placeholder="Full name")
            .main-form__item
              label.main-form__label(for="email")
                input.main-form__input#email(type="text" placeholder="E-Mail")
            .main-form__item
              label.main-form__label(for="phone")
                input.main-form__input#phone(type="text" placeholder="Phone*")
            .main-form__item
              label.main-form__label(for="career")
                input.main-form__input#career(type="text" placeholder="Career objective")
            .main-form__item.main-form__item--clip-file
              label.main-form__label(for="file")
                input#file.main-form__file.js-attached-files(type="file" multiple)
                span.main-form__file-placeholder
                  .main-form__file-placeholder-text  Upload CV
                  svg.main-form__clip-icon(width="24" height="24")
                    use(xlink:href="sprite.svg#clip_sprite")
              span.attached-files-area
                span.attached-files
            .main-form__checkbox.checkbox
              label.main-form__checkbox-label
                input.checkbox__input(type="checkbox")
                .checkbox__fake
                span I'm agree with 
              a.checkbox__link(href="") privacy policy 
            button.main-form__submit.btn.btn--primary.btn--filled
              span.btn__inner Apply

