extends ../layouts/main--no-hero

block content
  - locals.breadcrumbs = ['Home' , 'About us' , 'Schedules' ]
  include ../blocks/breadcrumbs
  section.section.section--breadcrumbs.container 
    h1.page-title Schedules
  section.container.section.section--no-top
    .schedules 
      .schedules__block 
        h2.schedules__title Stena
        ul.schedules-list
          li.schedules-list__item
            a.schedules-list__link(href="#" download)
              h3.schedules-list__title Stena Ferry Services
              span.schedules-list__btn.btn.btn--primary
                span.btn__inner  download 
      .schedules__block 
        h2.schedules__title Hyundai Glovis
        ul.schedules-list
          li.schedules-list__item
            a.schedules-list__link(href="#" download)
              h3.schedules-list__title Stena Ferry Services
              span.schedules-list__btn.btn.btn--primary
                span.btn__inner  download 
  include ../blocks/cta-buttons
  - locals.sectionTitle = 'Frequently Asked Questions'
  include ../blocks/faq
  - locals.sectionTitle = 'This links could help you'
  include ../blocks/block-links
