@use './mixins' as *;

:root {
  --container: 1720px;
  --gap: 30px;
  --gap-y: 80px;
  --gap-block: 30px;
  @each $breakpoint, $val in $breakpoints {
    @include media($breakpoint) {
      @if $val == 1440px {
        --container: 1350px;
      } @else {
        @if $val == 1920px {
          --container: 1720px;
        } @else {
          @include media($breakpoint) {
            --container: #{$val};
          }
        }
      }
    }
  }
  @include media(lg) {
    --gap: 16px;
    --gap-y: 40px;
    --gap-block: 20px;
  }
}

:root {
  --ebony-clay: #20252f;
  --bunker: #0b0f16;
  --black-100: #041537;
  --black-200: #10141b;
  --malibu: #5ba4ff;
  --amaranth: #e82d42;
  --white: #fff;
  --athens-gray: #f3f5f8;
  --ghost-color: #cccfd6;
}

:root {
  --headline: var(--bunker);
  --text: var(--main-white);
  --background: var(--black-200);
  --accent-blue: var(--malibu);
  --accent-red: var(--amaranth);
  --main-white: var(--white);
}
